.navbar{
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #2D4059;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos{ 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px; 
  border: 2px solid #EA5455;
}
.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #2D4059;
}